<!DOCTYPE html>
{% load static %}

<html lang="en">
<head>
    <title>Datamatics Console</title>
    {% block head %}

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" href="{% static 'img/icon.jpg' %}">
    <link rel="icon" type="image/jpg" href="{% static 'img/icon.jpg' %}">


     <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% 'static', filename='css/main.css' %">


    <!-- Optional JavaScript -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script type="text/javascript"  src="http://cdn.datatables.net/1.10.2/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript"  src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>


    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="">
                    <img src="{% static 'img/logo.jpg' %}" alt="logo" style="width:125px;height:22px"/>
                </a>
            </div>
            <ul class="nav navbar-nav">
                <li><a href="/datamaticsConsole/">Home</a></li>
                <li><a href="/datamaticsConsole/search">Search</a></li>
                <li class="active"><a href="#">Analyze</a></li>
            </ul>
        </div>
    </nav>

    <style type="text/css">
    th {
        width: 10% !important;
        background-color: #cc0000;
        color: white;
    }
    .thead {
        text-align: center;
        padding: 5px;
    }

    }
    </style>

<!--    <script>-->
<!--    $(document).ready(function(){-->
<!--    $('#table-overview').dataTable();-->
<!--    });-->
<!--</script>-->
{% endblock %}
</head>

<body>
<select class="mdb-select md-form" multiple>
  <optgroup label="team 1">
    <option value="1">Option 1</option>
    <option value="2">Option 2</option>
  </optgroup>
  <optgroup label="team 2">
    <option value="3">Option 3</option>
    <option value="4">Option 4</option>
  </optgroup>
</select>
<button class="btn-save btn btn-primary btn-sm">Save</button>

</body>
<script>
// Material Select Initialization
$(document).ready(function() {
$('.mdb-select').materialSelect();
});
</script>
</html>